<% if @cocktail.image.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.image.key, crop: :fill, gravity: :center %>');">
    <div class="container">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "cocktail-banner.jpg" %>');">
    <div class="container">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>
<% end %>

<div class="container text-center">
  <div class="row justify-content-around">
    <div class="col-12 col-md-6">
      <div class="ingredients-container">
        <h2>Ingredients</h2>
        <% @cocktail.doses.each do |dose| %>
          <p>
            <%= dose.description %> <%= dose.ingredient.name %>
            <%= link_to dose_path(dose), method: :delete, data: { confirm: "Delete?" } do %>
                <i class="far fa-trash-alt"></i>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-container">
        <h2>Add ingredient</h2>
        <%= render "dose_form", dose: [@cocktail, @dose] %>
      </div>
    </div>
  </div>
  <%= link_to "Back to cocktails", root_path, class: "btn btn-sm btn-warning m-3" %>
</div>